section.regular-section
  .container
    .regular-section__img
      img(src="img/access-img.png", alt="")
    .regular-section__content
      h2.title-h2.regular-section__title Access Our Online Store
      p.text-main.regular-section__text Shop our online store for your pet prescriptions, diet needs, and other supplies. It’s the best way to avoid scams, ensure you don’t purchase counterfeit products, and get your pet’s required products in a timely and affordable manner.
      a(href="#").btn-main.regular-section__btn Learn More 