section.regular-section.regular-section--reverse
  .container
    .regular-section__img
      img(src="img/diagnostic-img.png", alt="")
    .regular-section__content
      h2.title-h2.regular-section__title Diagnostic Care & Sick Visits
      p.text-main.regular-section__text No one wants to see their pet experience sickness, discomfort, or an injury. But when you suspect something is wrong with your pet’s health, the first step should be to consult a professional. Our team of experienced vets can help identify exactly what the problem is and what to do next.
      a(href="#").btn-main.regular-section__btn Learn More