section.regular-section
  .container
    .regular-section__img
      img(src="img/welcome-img.png", alt="")
    .regular-section__content
      h2.title-h2.regular-section__title Welcome to the Pet Doctor
      p.text-main.regular-section__text Stevenson Village Veterinary Hospital is a full-service veterinary practice which provides both wellness and acute care for cats and dogs. Our veterinary doctors are highly experienced in preventative medicine and general veterinary services that are a time-proven approach to complete wellness, including physical examinations, vaccinations, diagnostic testing and imaging, parasite prevention, dentistry, surgery, pathology, and oncology.
      a(href="#").btn-main.regular-section__btn Learn More 