section.section-category
  .category-item
    h3.title-h2.category-item__title New Clients
    p.text-main.category-item__text We know that choosing the right fit veterinarian for your pet is an important task, and we hope that our facility can fill that role for you.
    a(href="#").btn-blue New Client Information 
  .category-item
    h3.title-h2.category-item__title Wellness Care
    p.text-main.category-item__text Wellness exams are an essential element of a long, healthy, and happy life for our pet friends. Please don’t wait until your pet is feeling unwell to make an appointment!
    a(href="#").btn-main More on Preventative Care