section.section-download
  .container
    h2.title-h2.section-download__title Download Our PetDesk App Today!
    p.text-main.section-download__text You can now store vaccination records and appointment schedule for your pet in the palm of your hand with our simple, easy-to-use app! You can download the app to your smartphone and have it link directly to our systems. All of its features are completely free to you for being a valued client of Stevenson Village Veterinary Hospital.
    .download-list
      a(href="#").download-list__item
        img(src="img/download-petdesk.png", alt="") 
      a(href="#").download-list__item
        img(src="img/download-google-play.png", alt="") 
      a(href="#").download-list__item
        img(src="img/download-app-store.png", alt="") 