section.first-section
  img(src="img/wave.svg", alt="").first-section__wave
  .container
    h1.title-h1.first-section__title Serving
    p.text-big.first-section__text the Dogs & Cats<br>of Baltimore<br>Since 1996
    a(href="#").btn-main Request an Appointment 
