section.section-map
  .container
    h2.title-h2.section-map__title Join the Stevenson Village Veterinary Hospital Family Today!

    .section-map__info.map-info
      p.text-info.map-info__item
        img(src="img/location-icon.svg", alt="")
        span Located on E Sudbrook Lane between Reisterstown Road and Park Heights Avenue. Directly across the street from The Suburban Club.
      p.text-info.map-info__item
        img(src="img/phone-icon.svg", alt="")
        span 410-844-7540
      
      h4.title-h4.map-info__subtitle Careers
      ul.map-timetable
        li.text-info
          b Monday
          | : 7:30 AM - 6:00 PM
        li.text-info
          b Tuesday
          | : 7:30 AM - 6:00 PM
        li.text-info
          b Wednesday
          | : 7:30 AM - 6:00 PM
        li.text-info
          b Thursday
          | : 7:30 AM - 6:00 PM
        li.text-info
          b Friday
          | : 7:30 AM - 6:00 PM
        li.text-info
          b Saturday
          | : 9:00 AM - 1:00 PM
        li.text-info
          b Sunday
          | : Closed
    
    .section-map__map.map
      img(src="img/map.jpg", alt="")