section.services-section
  .container
    h2.title-h2.services-section__title Services Offered
    .services-list
      .services-list__item
        img(src="img/services/one.svg", alt="")
        .services-list__text Wellness Exams & Vaccinations
      .services-list__item
        img(src="img/services/two.svg", alt="")
        .services-list__text Blood Tests & Screens
      .services-list__item
        img(src="img/services/three.svg", alt="")
        .services-list__text X-Rays & Radiographs