section.section-team
  .container
    h2.title-h2.section-team__title Meet Our Team
    p.text-main.section-team__text The Pet Doctor was founded in 2005 and has provided quality care for O’Fallon and the surrounding communities ever since. Our practice is also St. Charles County’s only American Animal Hospital Association (AAHA) - accredited hospital. Simply put, our mission is to provide the very best care for your best friend. We hope you spend a few minutes browsing our website to learn about our practice, or better yet, come in to see it for yourself. Meet the amazing members of our team!

    .team-slider
      .team-slider__item
        img(src="img/team-1.jpg", alt="")
        .team-slider__name Evan Feinberg
        .team-slider__profession VMD & Co-Owner
      .team-slider__item
        img(src="img/team-2.jpg", alt="")
        .team-slider__name Thomas Vinson
        .team-slider__profession DVM
      .team-slider__item
        img(src="img/team-3.jpg", alt="")
        .team-slider__name Zach Rathbun
        .team-slider__profession VMD

    a(href="#").btn-main.section-team__link Meet Our Team