section {
  padding: $section-y 0;

  @media (max-width: $tablet) {
    padding: $section-y-mob 0;
  }

  // Delete
  // border: 1px solid red;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: $laptop) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: $tablet) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: $tablet-sm) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: $mobile-big) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: $mobile) {
  .container {
    max-width: none;
  }
}

.regular-section {
  & > .container {
    display: grid;
    align-items: center;
    grid-template-columns: 4fr 5fr;
    gap: 30px 120px;
  }
}

.regular-section.regular-section--reverse .container {
  grid-template-columns: 5fr 4fr;
}

.regular-section > .container {
  @media (max-width: $tablet-sm) {
    grid-template-columns: 1fr !important;
  }
}
