section {
  padding: $section-y 0;

  @media (max-width: $tablet) {
    padding: $section-y-mob 0;
  }
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: $laptop) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: $tablet) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: $tablet-sm) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: $mobile-big) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: $mobile) {
  .container {
    max-width: none;
  }
}