html {
  scrollbar-color: $black $white;
  scrollbar-width: thin;
}

body {
  display: flex;
  flex-direction: column;

  background-color: $white;
  color: $black;

  font-family: 'Roboto', sans-serif;

  min-height: 120vh;
}

.main-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 30px;

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
  }

  & > *:not(input) {
    grid-column: 1 / -1;
  }
}