html {
  scrollbar-color: #121739 white;
  scrollbar-width: thin;
}

body {
  display: flex;
  flex-direction: column;

  background-color: $white;
  color: $black;

  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background: white;
}
::-webkit-scrollbar {
  width: 6px;
  background: white;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: black;
}

.main-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 30px;

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
  }

  & > *:not(input) {
    grid-column: 1 / -1;
  }
}
