.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;

  // display: flex;
  display: none;
  justify-content: center;
  align-items: center;

  padding: 20px;

  background-color: rgba($black, 0.25);
  transition: 0.3s all ease;
  opacity: 0;

  &.show {
    display: flex;
  }

  &__wrap {
    position: relative;

    width: 100%;
    max-width: 600px;
    padding: 30px;
    margin: 0 auto;

    background: $white;
    border-radius: 4px;
  }

  &__close {
    position: absolute;
    top: -10px;
    right: -10px;
    transform: translate(50%, -50%);
    width: 30px;
    height: 30px;

    cursor: pointer;
    border-radius: 2px;

    &::after,
    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 2px;
      height: 15px;

      background-color: #3D3D4B;
      content: '';
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:focus,
    &:active {
      outline: 2px solid $black;
    }
  }
}
