footer.footer
  .container
    .footer-info
      img(src="img/footer-logo.png", alt="")
    
    .footer-list
      h4.footer-list.title-h4 About Us
      ul
        li
          a(href="#").text-main Meet Our Team
        li
          a(href="#").text-main About Our Hospital
        li
          a(href="#").text-main Contact Us
        li
          a(href="#").text-main Careers
      
      p Join Us For A Celebration! It's Our 25th Anniversary!

    .footer-list
      h4.footer-list.title-h4 Owner Resources
      ul
        li
          a(href="#").text-main Pet History Form
        li
          a(href="#").text-main Hospital Policies
        li
          a(href="#").text-main New Client Information
        li
          a(href="#").text-main Refer-a-Friend Program
        li
          a(href="#").text-main Our PetDesk App
        li
          a(href="#").text-main Health & Travel Certificates
        li
          a(href="#").text-main Online Store
        li
          a(href="#").text-main CareCredit®
        li
          a(href="#").text-main Request an Appointment

    .footer-list
      h4.footer-list.title-h4 Owner Resources
      ul
        li
          a(href="#").text-main Our Veterinary Services
        li
          a(href="#").text-main Full Service Vet Clinic
        li
          a(href="#").text-main Preventative Care
        li
          a(href="#").text-main Diagnostic Care
        li
          a(href="#").text-main Surgical Services
        li
          a(href="#").text-main Dental Services
        li
          a(href="#").text-main Puppy & Kitten Care
        li
          a(href="#").text-main Senior Pet Care









