footer.footer
  .container
    a(href="/").footer-logo
      .footer-logo__text Logo
    
    nav.footer-nav
      a(href="#").footer-nav__link Home
      a(href="#").footer-nav__link About
      a(href="#").footer-nav__link Blog
      a(href="#").footer-nav__link Contact