header.header
  .container
    a(href="/").header-logo
      span.header-logo__text Logo
    
    nav.header-nav
      a(href="#").header-nav__link Home
      a(href="#").header-nav__link About
      a(href="#").header-nav__link Blog
      a(href="#").header-nav__link Contact
    
    button.header-hamb
      span
      span
      span