h3.title-h3 Main form
form.main-form
  input(type="text" placeholder="Name")
  input(type="email" placeholder="Email")
  textarea(placeholder="Text" rows="4")
  button.btn-main(style="width: 100%;") Send