.popup
  .popup__wrap
    h3.title-h3 Thank you
    p.main-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit nisi architecto exercitationem commodi quibusdam tempora animi rerum veniam asperiores velit.

    button.popup__close