extends ../layout/main

block content
  section
    .container
      h1.title-h1 Hello
      p.main-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quia, ratione inventore dignissimos labore quod corporis laboriosam esse quos dolorem molestiae ut eligendi et! Molestias quo porro blanditiis a aliquam?