section.regular-separator.regular-separator--green
  .container
    .regular-separator__wrap
      .regular-separator__img
        img(src="img/requst-img.png", alt="")
      a(href="#").btn-blue Requst An Appointment 