block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Start Template
    link(rel="stylesheet", href="main.css")
    //- link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
  body
    include ../components/header

    block content
    
    section
      .container
        h4.screen-width screenWidth -
          span
        h4.screen-height screenHeight -
          span
        h4.screen-screen-left screenLeft -
          span
        h4.screen-screen-top screenTop -
          span
        h4.screen-screen-y screenY -
          span
        h4.screen-screen-x screenX -
          span
        h4.screen-avail-width availWidth -
          span
        h4.screen-avail-height availHeight -
          span
        h4.screen-outer-width outerWidth -
          span
        h4.screen-outer-height outerHeight -
          span
        h4.screen-inner-width innerWidth -
          span
        h4.screen-inner-height innerHeight -
          span
        h4.screen-client-width clientWidth -
          span
        h4.screen-client-height clientHeight -
          span
        h4.screen-scroll-width scrollWidth -
          span
        h4.screen-scroll-height scrollHeight -
          span
        h4.screen-offset-width offsetWidth -
          span
        h4.screen-offset-height offsetHeight -
          span

    include ../components/footer

    script(src="main.min.js") 